:root {
  --primary-color: #CC2D6F;
  --secondary-color: #149F98;
  --accent-color: #B8D215;
  --accent-color-dark: #F5AD40;
  --background-color: #12282D;
  --background-color-light: #173137;
  --background-color-dark: #051C21;
  --font-color: #587B83;
  --title-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

.app {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

.title {
  font-size: var(--title-size);
  font-weight: 800;
  font-style: italic;
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color);
  margin-bottom: 0;
}